* text=auto !eol
/Circulation.jpx -text
/ceridwen-circulation.jar -text
src/com/ceridwen/circulation/SIP/exceptions/ChecksumError.java -text
src/com/ceridwen/circulation/SIP/exceptions/ConnectionFailure.java -text
src/com/ceridwen/circulation/SIP/exceptions/MandatoryFieldOmitted.java -text
src/com/ceridwen/circulation/SIP/exceptions/MessageNotUnderstood.java -text
src/com/ceridwen/circulation/SIP/exceptions/RetriesExceeded.java -text
src/com/ceridwen/circulation/SIP/helpers/FixedFieldDescriptor.java -text
src/com/ceridwen/circulation/SIP/helpers/FlagBitmap.java -text
src/com/ceridwen/circulation/SIP/helpers/VariableFieldDescriptor.java -text
src/com/ceridwen/circulation/SIP/messages/ACSStatus.java -text
src/com/ceridwen/circulation/SIP/messages/ACSStatusBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/BlockPatron.java -text
src/com/ceridwen/circulation/SIP/messages/BlockPatron.jbx -text
src/com/ceridwen/circulation/SIP/messages/BlockPatronBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckIn.java -text
src/com/ceridwen/circulation/SIP/messages/CheckInBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckInResponse.java -text
src/com/ceridwen/circulation/SIP/messages/CheckInResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOut.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOutBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOutResponse.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOutResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/EndPatronSession.java -text
src/com/ceridwen/circulation/SIP/messages/EndPatronSession.jbx -text
src/com/ceridwen/circulation/SIP/messages/EndPatronSessionBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/EndSessionResponse.java -text
src/com/ceridwen/circulation/SIP/messages/EndSessionResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/EndSessionResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaid.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaid.jbx -text
src/com/ceridwen/circulation/SIP/messages/FeePaidBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaidResponse.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaidResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/FeePaidResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Hold.java -text
src/com/ceridwen/circulation/SIP/messages/Hold.jbx -text
src/com/ceridwen/circulation/SIP/messages/HoldBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/HoldResponse.java -text
src/com/ceridwen/circulation/SIP/messages/HoldResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/HoldResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformation.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformationBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformationResponse.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformationResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdate.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdate.jbx -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdateBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdateResponse.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdateResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdateResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Login.java -text
src/com/ceridwen/circulation/SIP/messages/Login.jbx -text
src/com/ceridwen/circulation/SIP/messages/LoginBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/LoginResponse.java -text
src/com/ceridwen/circulation/SIP/messages/LoginResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/LoginResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Message.java -text
src/com/ceridwen/circulation/SIP/messages/Message.num -text
src/com/ceridwen/circulation/SIP/messages/PatronEnable.java -text
src/com/ceridwen/circulation/SIP/messages/PatronEnable.jbx -text
src/com/ceridwen/circulation/SIP/messages/PatronEnableBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronEnableResponse.java -text
src/com/ceridwen/circulation/SIP/messages/PatronEnableResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/PatronEnableResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformation.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformationBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformationResponse.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformationResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusRequest.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusRequestBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusResponse.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Renew.java -text
src/com/ceridwen/circulation/SIP/messages/Renew.jbx -text
src/com/ceridwen/circulation/SIP/messages/RenewAll.java -text
src/com/ceridwen/circulation/SIP/messages/RenewAll.jbx -text
src/com/ceridwen/circulation/SIP/messages/RenewAllBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/RenewAllResponse.java -text
src/com/ceridwen/circulation/SIP/messages/RenewAllResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/RenewAllResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/RenewBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/RenewResponse.java -text
src/com/ceridwen/circulation/SIP/messages/RenewResponse.jbx -text
src/com/ceridwen/circulation/SIP/messages/RenewResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/SCStatus.java -text
src/com/ceridwen/circulation/SIP/messages/SCStatusBeanInfo.java -text
src/com/ceridwen/circulation/SIP/transport/Connection.java -text
src/com/ceridwen/circulation/SIP/transport/SocketConnection.java -text
src/com/ceridwen/circulation/SIP/transport/TelnetConnection.java -text
