* text=auto !eol
/.classpath -text
.externalToolBuilders/Build[!!-~]Number[!!-~]-[!!-~]Message.launch -text svneol=unset#text/plain
.externalToolBuilders/Package[!!-~]Circulation[!!-~]Jar.launch -text svneol=unset#text/plain
/.project -text
/buildnum.xml -text
lib/commons-beanutils-1.8.3/LICENSE.txt -text svneol=unset#text/plain
lib/commons-beanutils-1.8.3/NOTICE.txt -text svneol=unset#text/plain
lib/commons-beanutils-1.8.3/RELEASE-NOTES.txt -text svneol=unset#text/plain
lib/commons-beanutils-1.8.3/commons-beanutils-1.8.3.jar -text
lib/commons-beanutils-1.8.3/commons-beanutils-bean-collections-1.8.3.jar -text
lib/commons-beanutils-1.8.3/commons-beanutils-core-1.8.3.jar -text
/license.txt -text svneol=unset#text/plain
/package-jar.xml -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/exceptions/ChecksumError.java -text
src/com/ceridwen/circulation/SIP/exceptions/ConnectionFailure.java -text
src/com/ceridwen/circulation/SIP/exceptions/MandatoryFieldOmitted.java -text
src/com/ceridwen/circulation/SIP/exceptions/MessageNotUnderstood.java -text
src/com/ceridwen/circulation/SIP/exceptions/RetriesExceeded.java -text
src/com/ceridwen/circulation/SIP/exceptions/SequenceError.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/messages/ACSResend.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/messages/ACSResendBeanInfo.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/messages/ACSStatus.java -text
src/com/ceridwen/circulation/SIP/messages/ACSStatusBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/BlockPatron.java -text
src/com/ceridwen/circulation/SIP/messages/BlockPatronBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckIn.java -text
src/com/ceridwen/circulation/SIP/messages/CheckInBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckInResponse.java -text
src/com/ceridwen/circulation/SIP/messages/CheckInResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOut.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOutBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOutResponse.java -text
src/com/ceridwen/circulation/SIP/messages/CheckOutResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/EndPatronSession.java -text
src/com/ceridwen/circulation/SIP/messages/EndPatronSessionBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/EndSessionResponse.java -text
src/com/ceridwen/circulation/SIP/messages/EndSessionResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaid.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaidBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaidResponse.java -text
src/com/ceridwen/circulation/SIP/messages/FeePaidResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Hold.java -text
src/com/ceridwen/circulation/SIP/messages/HoldBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/HoldResponse.java -text
src/com/ceridwen/circulation/SIP/messages/HoldResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformation.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformationBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformationResponse.java -text
src/com/ceridwen/circulation/SIP/messages/ItemInformationResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdate.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdateBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdateResponse.java -text
src/com/ceridwen/circulation/SIP/messages/ItemStatusUpdateResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Login.java -text
src/com/ceridwen/circulation/SIP/messages/LoginBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/LoginResponse.java -text
src/com/ceridwen/circulation/SIP/messages/LoginResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Message.java -text
src/com/ceridwen/circulation/SIP/messages/Message.num -text
src/com/ceridwen/circulation/SIP/messages/PatronEnable.java -text
src/com/ceridwen/circulation/SIP/messages/PatronEnableBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronEnableResponse.java -text
src/com/ceridwen/circulation/SIP/messages/PatronEnableResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformation.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformationBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformationResponse.java -text
src/com/ceridwen/circulation/SIP/messages/PatronInformationResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusRequest.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusRequestBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusResponse.java -text
src/com/ceridwen/circulation/SIP/messages/PatronStatusResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/Renew.java -text
src/com/ceridwen/circulation/SIP/messages/RenewAll.java -text
src/com/ceridwen/circulation/SIP/messages/RenewAllBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/RenewAllResponse.java -text
src/com/ceridwen/circulation/SIP/messages/RenewAllResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/RenewBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/RenewResponse.java -text
src/com/ceridwen/circulation/SIP/messages/RenewResponseBeanInfo.java -text
src/com/ceridwen/circulation/SIP/messages/SCResend.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/messages/SCResendBeanInfo.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/messages/SCStatus.java -text
src/com/ceridwen/circulation/SIP/messages/SCStatusBeanInfo.java -text
src/com/ceridwen/circulation/SIP/samples/Sample.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/server/MessageBroker.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/server/MessageHandler.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/server/MessageHandlerDummyImpl.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/server/SocketDaemon.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/server/SocketServer.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/ACSResendTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/ACSStatusTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/AbstractMessageTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/AllTests.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/BlockPatronTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/CheckInResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/CheckInTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/CheckOutResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/CheckOutTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/EndPatronSessionTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/EndSessionResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/FeePaidResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/FeePaidTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/GenerateTemplates.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/HoldResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/HoldTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/ItemInformationResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/ItemInformationTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/ItemStatusUpdateResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/ItemStatusUpdateTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/LoginResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/LoginTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/PatronEnableResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/PatronEnableTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/PatronInformationResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/PatronInformationTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/PatronStatusRequestTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/PatronStatusResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/RenewAllResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/RenewAllTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/RenewResponseTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/RenewTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/SCResendTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/tests/SCStatusTest.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/transport/Connection.java -text
src/com/ceridwen/circulation/SIP/transport/SocketConnection.java -text
src/com/ceridwen/circulation/SIP/transport/TelnetConnection.java -text
src/com/ceridwen/circulation/SIP/types/descriptors/FixedFieldDescriptor.java -text
src/com/ceridwen/circulation/SIP/types/descriptors/VariableFieldDescriptor.java -text
src/com/ceridwen/circulation/SIP/types/enumerations/AbstractEnumeration.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/CirculationStatus.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/CurrencyType.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/FeeType.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/HoldMode.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/HoldType.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/Language.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/MediaType.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/PaymentType.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/SecurityMarker.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/enumerations/StatusCode.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/flagfields/AbstractFlagField.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/flagfields/PatronStatus.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/flagfields/Summary.java -text svneol=unset#text/plain
src/com/ceridwen/circulation/SIP/types/flagfields/SupportedMessages.java -text svneol=unset#text/plain
