/Circulation.refactor
/Circulation.refactorstatus
/bak
/bin
/build
/ceridwen-circulation.jar
/classes
/dist
/distrib
doc/javadoc
/test-reports
target
dependency-reduced-pom.xml
.settings
.project
.classpath
.idea
*.iml
.sonar_lock
